* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "Montserrat";
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;  
}

#main>img{
    position: absolute;
    height: 100%;
    width: 80%;
    left: -3%;
    object-fit: contain;
}

#main > #nav{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

#nav > #nl {
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nl > h4 {
    color: white;
    font-size: 30px;
}

#nav > #nr {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nr > #a > p {
    color: gold;
    font-size: 15px;
}

#nr > p {
    color: white;
    font-size: 15px;
}

#nr > i {
    color: white;
    font-size: 17px;
}

#line {
    position: absolute;
    top: 0%;
    left: 7%;
    width: 0.1%;
    height: 100%;
    background-color: gray;
}

#center {
    width: 90%;
    height: 40%;
    margin-left: 140px;
    margin-top: 80px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

#center > .cl {
    width: 50%;
    height: 100%;
}

.cl > h5 {
    font-size: 20px;
    color: white;
}

.cl > h4 {
    font-size: 15px;
    color: white;
}

.cl > p {
    padding-top: 5px;
    font-size: 12px;
    color: gray;
}

.cl > .straight {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 40%;
    height: 6%;
    color: gold;
}

.cl > h1 {
    font-size: 40px;
    line-height: 48px;
    color: white;
}

.cl > h6 {
    padding-top: 20px;
    font-size: 12px;
    color: white;
    font-weight: 400;
    line-height: 20px;
}

#bottom {
    position: absolute;
    width: 92%;
    height: 25%;
    background-color: rgba(33, 32, 32, 0.647);
    margin-left: 110px;
    margin-top: 58px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px dashed darkgray;
} 

#bottom > .box {
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box > .l {
    width: 48%;
    height: 100%;
    overflow: hidden;
   
}

.l > h4 {
    color: white;
    font-size: 20px;
    padding: 15px 0px;
}

.l > p {
    color: white;
    font-size: 12px;
}

.l > h6{
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
}

.l > h5 {
    color: gold;
    font-size: 12px;
    padding-top: 20px;
}

#y {
    padding: 1%;
    border-radius: 50%;
    border: none;
    background-color: gold;
}

.m {
   padding: 59px 0px;
}

.l > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}